<div>
    <div>
        <ul>
            <div>
                
                {{#if user}}

                <li>
                    <a href="/signup">Signup</a>
                </li>
                <li>
                    <a href="/signin">Signin</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>

                {{/if}}

            </div>
        </ul>
    </div>
</div>