<div>
    <div>
        <h3>Signin</h3>
        <form action="/signin" method="post">
            <input type="text" name="username" placeholder="Username" autofocus>
            <input type="password" name="password" placeholder="Password"> 
            <button>
                Login
            </button>
        </form>
    </div>
</div>